/* FONT INCLUSION */

@font-face{
    font-family: 'digital-font';
    src: url('./pageAssets/digital-7.ttf');
}

body, html { 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    color: whitesmoke;
    
    background-color: rgb(221, 94, 48);
}

.calc {
    margin-top: 15%;
    padding: 12px;
    border: 1px solid rgb(56, 53, 53);
    background-color: rgb(50, 46, 46);
    border-radius: 28px;
    display: flex;
    flex-flow: column nowrap;
    gap: 7px;

    min-height: 530px;
    max-width: 330px;

    box-shadow: 0px 2px 22px -3px rgba(37, 36, 36, 0.75);
 
}

    .display { 
        height: 120px;
        border: 2px solid rgb(27, 27, 96);
        color: black;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 8px;
        box-sizing: border-box;

        display: flex;
        flex-flow: column nowrap;
        padding: 8px;
        justify-content: space-between;
        
        overflow: hidden;

        font-family:'digital-font';
        font-weight: lighter;
        
    }

        .display .entry {
            font-size: 25px;
        }

        .display .result {
            align-self: flex-end;
            font-size: 22px;
        }
    
    .c-row { 
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 3px;
    }

        .calc button { 
            flex: 1;
            height: 70px;
            width: 80px;
            border-radius: 10px;
            background-color: white;
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 400;
        }

            .calc button:hover{ 
                background-color: rgb(31, 125, 188);
                color: whitesmoke;
            }

                .calc button:active { 
                    background-color: rgb(10, 98, 116);
                }

            button.zero { 
                flex: 2.3;
            }

            button.equals:hover { 
                background-color: rgb(73, 159, 73);
            }

                button.equals:active {
                    background-color: green;
                }

            button#operand:hover { 
                background-color: orange;
            }

                button#operand:active {
                    background-color: rgb(255, 140, 0);
                }
                
            button#func:hover { 
                background-color: rgb(241, 55, 55);
            }

                button#func:active {
                    background-color: rgb(255, 0, 0);
                }




.footer { 
    border: 1px solid rgb(56, 53, 53);
    background-color: rgb(50, 46, 46);
    
    border-radius: 10px;
    position: fixed;
    bottom: 0; 
    left: 0;
    padding: 10px;
    font-size: 13px;
    margin: 12px;
}


/* Link Styling */

a { 
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color:rgb(89, 186, 20);
    transform: scale(2);
}

